
.about-container {
  padding-top: 20vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: grid;
  row-gap: 40px;
}

.about-container img {
  width: 100%;
  height: 60vh;
  border-radius: 50px 0 50px 0;
  border: 5px solid #BFA181;
  object-fit: cover;

}


.abt-title {
  grid-area: 1 / 1 / 1 / 1;
  word-wrap: break-word;

  text-align: center;
  font-family: 'Dosis';
  font-size: 48px;
  letter-spacing: 2px;
  color: #BFA181;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

.abt-info {
  grid-area: 2 / 1 / 2 / 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: #BFA181;
  text-shadow: 2px 2px 2px black;

}



.abt-text {
  display: flex;
  align-items: center;
  width: 350px;
  padding-left: 17px;
  text-indent: 20px;

}

.abt-pic {
  width: 280px;
  margin: auto;

}

@media only screen and (max-width: 1850px) {
  .abt-info {
    flex-direction: column;
    align-content: center;
  }
}