
.about {
  padding-top: 20vh;
  margin-left: 10vw;
  margin-right: 10vw;
}

.about img {
  width: 100%;
  height: 60vh;
  border-radius: 50px 0 50px 0;
  border: 5px solid #BFA181;
  object-fit: cover;
}

.abt-container {
  display: grid;
  row-gap: 40px;
}

.abt-title {
  grid-area: 1 / 1 / 1 / 1;
  word-wrap: break-word;

  text-align: center;
  font-family: 'Dosis';
  font-size: 48px;
  letter-spacing: 2px;
  color: #BFA181;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

.abt-info {
  grid-area: 2 / 1 / 2 / 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  color: #BFA181;
  text-shadow: 2px 2px 2px black;
}



.abt-text {
  width: 350px;
  padding-left: 17px;
  text-indent: 20px;
}

.abt-pic {
  width: 280px;
}

@media only screen and (max-width: 1450px) {
  .abt-info {
    flex-direction: column;
    align-content: center;
  }
}

/* .about {
    padding-top: 25vh;
    height: 40vh;
    border-radius: 15px; 
  
    margin-left: 10vw;
    margin-right: 10vw;
  
    display: grid;
    grid-template-rows: 10vh 1fr;
    grid-template-columns: 30% 1fr;
  } */

  /* .about-title p, .about-me-intro p,
  .about-me p {
    font-family: "Dosis", sans-serif;
  }
  
  .about-title {

    letter-spacing: 2px;
    grid-area: 1 / 1 / 1 / 3;
  }
  
  .about-title p {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 7px;
    color: #BFA181;
  }
  
  .about-me-intro {
    margin-bottom: auto;
    font-size: 25px;
    font-weight: bold;
    text-align: right;
    padding-right: 1vw;
    border-radius: 0 0 0 15px;
  }

  .about-me-intro p {
    color: #BFA181;
  }
  
  .about-me {
    font-size: 20px;
    text-align: left;
    padding-left: 1vw;
    padding-right: 12vw;
  }

  .about-me p {
    color: #BFA181;
  } */


