
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  left:0;

  background-color: #352F44;
  height: 10vh;
  margin-top: 0;

  z-index: 100;
}

.title-container {
  display: flex;
  flex: 1;
}

.title {
  margin-left: 3vw;
  font-size: 25px;
  letter-spacing: 2px;
}



.nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  
}

ul {
  list-style-type: none;
}

li a{
  text-decoration: none;
  color: #B9B4C7;
  font-size: 18px;
  font-family: "Poiret One";
  font-weight: bold;
  transition: linear 0.5s;

}

li a:hover {
  color: #7b78e3;
  text-decoration: underline;
  text-underline-offset: 5px;
}

li {
   margin-right: 1vw;
   margin-left: 0;
}

