.main {
    display:grid;
    row-gap: 40vh;
  }
  
  
  .home {
    display: grid;
  }
  
  .intro {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 40vh;
    width: 90vw;
    padding-left: 2vw;
  }
  
  
  .me {
    width: 300px;
    height: 300px;
    border-radius: 10px;
  }
  
  .desc {
    display:flex;
    flex-direction: column;
    height: 40vh;
    margin-left:1vw;
  }
  
  .name {
    margin: 0;
    font-size: 70px;
    font-weight: bold;
    margin-top: auto;
  }
  
  .name-desc {
    margin: 0;
    font-size: 35px;
    color: #8a8796;
  }
  
  .line {
    grid-area: 2 / 1 / 2 / 3;
    padding-top: 3vh;
    padding-bottom: 3vh;
  }
  
  .line hr {
    border: 5px solid #a789fa;
    border-radius: 2px;
  }

  @media only screen and (max-width: 650px) {
    .intro {
      height: 55vh;
    }
    .name {
      margin-top: 1vh;
    }
  }