@import "header.css";
@import "home.css";
@import "about.css";
@import "projects.css";

body {
  margin: 0px;
  padding-top: 25vh;
  padding-right: 5vw;
  padding-left: 5vw;
  padding-bottom: 10vh;
  background-color: #352F44;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

p {
  font-family: "Poiret One";
  color: #B9B4C7;
}