html, body {
    margin: 0px;
  }
  
  body {
    background-image: url("pic/bg.png");
    background-size: cover;
  }
  
  .layout {
    display: flex;
    position: sticky;
    top: 0;
  }
  
  button {
    display: block;
    font-family: "Poiret One";
    font-size: 20px;
    width: 10vw;
    padding: 2px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 2px #5A5A5A;
    border: 1px solid #5A5A5A;
    color: #4B6587;
    margin-left: 1vw;
    transition: 0.5s;
    background-image: linear-gradient(to bottom, transparent 50%, #d2eee7 50%);
    background-size: 100% 200%;
    background-position: 0% 0%;
  }
  button:hover {
    background-position: 0% 100%;
  }
  
  a {
    text-decoration: none;
    color: #4B6587;
  }
  
  .header {
    background-color: #F7F6F2;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    float: left;
    box-shadow: 0 0 2px #C8C6C6;
    margin: 0px;
    align-content: space-between;
  }
  
  .pic {
    width: 20vw;
    display: block;
    padding-top: 0.8vh;
  }
  
  .cirimg {
    border: 1px solid #C8C6C6;
    border-radius: 50%;
    box-shadow: 0 0 1px #C8C6C6;
    width: 15vw;
    height: 15vw;
    margin: auto;
    display: block;
  }
  
  .info {
    font-family: "Poiret One";
    width: 20vw;
    text-align: center;
  }
  .info h1 {
    font-size: 25px;
    color: #4B6587;
    margin-bottom: 5px;
  }
  .info h3 {
    font-size: 16px;
    color: rgba(75, 101, 135, 0.5);
    margin-top: 0;
  }
  
  .nav {
    display: flex;
    width: 20vw;
    justify-content: center;
  }
  
  .active {
    background-color: #d2eee7;
  }
  
  ul {
    text-decoration: none;
    list-style-type: none;
    box-shadow: 0 0 5px #C8C6C6;
    width: 20vw;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  ul li {
    text-decoration: none;
  }
  ul li a {
    text-decoration: none;
    font-size: 20px;
    font-family: "Poiret One";
    width: 20vw;
    color: #4B6587;
    display: block;
    padding-bottom: 2.5vh;
    padding-top: 2.5vh;
    padding-left: 0.5vw;
    transition: 0.5s;
  }
  ul li a:hover {
    transition: 0.5s;
    background-color: #d2eee7;
  }