@import "./variables";
@import "header.css";

.projects {
    width: 75vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    header {
        font-size: 35px;
        font-family: $font;
        text-align: center;
        color: $color4;
        letter-spacing: 3px;
    }

    .proj-container {
        display: flex;
        flex-direction: row;
        width : 75vw;
        align-items: center;
        justify-content: center;

        .proj {
            width: $projW;
            height: 50vh;
            display: flex;
            flex-direction: column;
            border: 1px solid $color3;
            box-shadow: 0 0 3px $color3;

            img {
                width: $projW;
                height: 25vh;

            }

            .desc {
                width: 17.5vw;
                height: 20vh;
                padding: 1vh;
                box-shadow: 0 0 3px $color3;
                h1 {
                    font-size: 23px;
                    font-family: $font;
                    color: $color4;
                    display: block;
                    margin: auto;
                    height: 2vh;
                }
                h3 {
                    font-size: 16px;
                    font-family: $font;
                    color: $color4;
                    
                    height: 8vh;

                }
            }

            button {
                border: none; 
                margin: auto;
                border-radius: 0px 0px 0px 0px;
                height: 5vh;
                width: $projW;
               
            }
        }
    }
}