@import "./variables";
@import "header.css";


@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
}

.resume {
    display: flex;
    flex-direction: column;
    width: $resW;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4vh;
    margin-bottom: 4vh;

    .resheader {
        display: flex;
        flex-direction: column;
        width: 73vw;
        height: 25vh;
        padding: 1vw;
        padding-bottom: 1.5vw;
        flex-wrap: wrap;
        border: 1px solid $color3;
        box-shadow: 0 0 3px $color3;
        align-content: space-between;

        h1 {
            display: block;
            margin: auto;
            margin-bottom: 0;
            width: 20vw;
            font-size: 30px;
            font-family: $font;
            color: $color4;
            margin-left: 5vw;
        }

        h3 {
            display: block;
            margin: auto;
            margin-top: 0;
            margin-bottom: 0;
            width: 20vw;
            font-size: 20px;
            font-family: $font;
            margin-left: 5vw;
            color: $color42;
        }

        button {
            height: 3vw;
            margin: auto;
            margin-top: 3vh;
            margin-bottom: 4vh;
            margin-left: 5vw;
            display: block;
        }

        img {
            border: none;
            height: 30vh;
            width: 20vh;
            float: left;
            margin-left: 20vw;
            border-radius: 10px 10px 10px 10px;
        }

    }

    .skills {
        width: $resW;
        height: 40vh;
        margin-top: 2vh;
        border: 1px solid $color3;
        box-shadow: 0 0 3px $color3;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;


        h1 {
            width: 70vw;
            font-size: 30px;
            font-family: $font;
            color: $color4;
            margin-left: 5vw;
            margin-bottom: 0;
            height: 5vh;
        }

        .slist {
            width: 20vw;
            margin: auto;
            display: block;
            list-style-type: circle;
            margin-top: 0px;


            li {
                font-size: 15px;
                font-family: $font;
                color: $color42;
            }

        }
    }
}