$color1: #d2eee7;
$color2: #F7F6F2;
$color3: #C8C6C6;
$color4: #4B6587;
$color42: rgb(75, 101, 135, 0.5);
$currentLink: #b7cac6;
$btnborder: #5A5A5A;
$headerW: 20vw;
$introW: 25vw;
$font: 'Poiret One';
$projW: 18.5vw;
$resW: 75vw;