$bg: #002c5e;
$titleColor: white;
$textColor: rgb(67, 69, 105);
$font: "Trebuchet MS";
$pSize: 20px;
$divH: 80vh;
$centerV: 140px;
$btnColor: rgb(68, 102, 165);
$white: rgba(255, 255, 255, 0.753);