
@mixin centerText() {
    margin: auto;
    text-align: center;
}

@import "./variables";

body{
    background: url("https://cutewallpaper.org/21/dark-geometric-wallpaper/Dark-Green-Simple-Geometry-Background-1920x1080-.jpg");
    background-size: cover;
}


.container {
    display: flex;
    background: url("https://pbs.twimg.com/media/Ff2SoEpWAAEvdXY?format=jpg&name=4096x4096");
    background-size: cover;
    width: 90%;
    height: 70vh;
    border: 1px solid white;
    margin: auto;
}

header {
    width: 90%;
    margin: auto;
    h1 {
        @include centerText();
        padding: 40px;
        font-family: $font;
        font-size: 70px;
        color: $white;
    }
}

.explain {
    display: flex;
    flex-direction: column;
    width: 75%;
    border: 1px solid black;
    h2 {
        @include centerText();
        font-family: $font;
        font-size: 30px;
        color: $textColor;
        padding: 10px;
    }

    p {
        @include centerText();
        font-family: $font;
        font-size: 20px;
        color: $textColor;
        margin-bottom: 10vh;
    }
}

.model {
    width: 25%;
    border: 1px solid white;
    background-color:$bg;
}

.btns {
    display: flex;

}



.up-down {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    .down {
        padding-bottom: 10px;
    }
}

.revert, .back {
    width: 33.3%;
    button {
        margin-top: 5vh;
    }
}


button {
    display: block;
    margin: auto;
    width: 100px;
    height: 70px;
    transition: linear 0.5s;
    background: $btnColor;
    font-family: $font;
    font-size: 30px;
    color: $white;
    border: 2px solid black;
}
button:hover {
    background: $black;
}


.press {
    width: 22.25vw;
    height: 20vh;
    position: absolute;
    top: 22vh;
}

.move-up {
    border-radius: 25px 25px 0px 0px;
}
.move-down {
    border-radius: 0px 0px 25px 25px;
}

.reset, .back {

    a {
        text-decoration: none;
        font-family: $font;
        color: $white;
    }
}