
@mixin flexCenter {
    align-items: center;
    justify-content: center;
}

@import "./variables";

body {
    background: url("https://cutewallpaper.org/21/dark-geometric-wallpaper/Dark-Green-Simple-Geometry-Background-1920x1080-.jpg");
    background-size: cover;
}

.swiper {
    background: url("https://pbs.twimg.com/media/Ff2SoEpWAAEvdXY?format=jpg&name=4096x4096");
    background-size: cover;
    border: 2px solid black;
    margin-top: 5vh;
}


.swiper-button-prev, .swiper-button-next {
    color: black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

h1 {
    font-size: 100px;
    font-family: $font;
    color: $textColor;
    text-align: center;
}


.link-container {
    display: flex;
    flex-direction: row;
    padding-top: 75px;
    padding-bottom: 10px;
    width: 85%;
    margin: auto;
}

.info-box {
    flex-basis: 40%;
    height: $divH;

    
    h1 {
        font-family: $font;
        font-size: 30px;
        text-align: center;
        color: $textColor;
        padding-top: $centerV;
    }

    p {
        font-family: $font;
        font-size: $pSize;
        text-align: center;
        color: $textColor;
    }
}


.btn {
    display: block;
    margin: auto;
    width: 300px;
    height: 70px;
    transition: linear 0.5s;
    background: $btnColor;
    font-family: $font;
    border-radius: 25px 25px;
    font-size: 30px;
    color: $white;
}

a {
    text-decoration: none;
}

.btn:hover {
    background: black;
    color: $btnColor;
}


.pic-box {
    flex-basis: 60%;
    height: $divH;


    img {
        border: 1px solid black;
        margin: auto;
        display: block;
        opacity: 0.7;
    }

}
